:root {
    --primary-bg-color: #5F0F40;
    --secondary-bg-color: #9A031E;
    --primary-color: #FB8B24;
    --secondary-color: #E36414;
    --highlight: #FB8B24;
    --contrast: #0F4C5C;
}

body {
    background: var(--primary-bg-color);
    color: var(--primary-color);
}

#root {
    margin: 0 auto;
    padding: 2rem;
}

.form {
    border: 2px solid var(--highlight);
    border-radius: 5px;
    padding: 1rem;
    background: var(--contrast);
    color: var(--primary-color);
}

form:has(input:required) label::after {
    content: " *";
    color: lime;
}

.primary-btn {
    border: 1px solid var(--highlight);
    border-radius: 5px;
    color: var(--primary-color);
    background-color: var(--primary-bg-color)
}
