:root {
    --primary-bg-color: #5F0F40;
    --secondary-bg-color: #450b2f;
    --primary-color: #FB8B24;
    --secondary-color: #E36414;
    --highlight: #FB8B24;
    --contrast: #0F4C5C;
}

html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background: var(--primary-bg-color);
}

.form {
    border: 2px solid var(--highlight);
    padding: 1rem;
    background: var(--contrast);
    color: var(--primary-color);
    box-shadow: 1px 1px 10px 1px rgba(0,0,0, 0.75);
}

form:has(input:required) label::after {
    content: " *";
    color: lime;
}

.primary-btn {
    border: 1px solid var(--highlight);
    color: var(--primary-color);
    background-color: var(--primary-bg-color)
}

    .primary-btn:hover {
        border-color: var(--highlight);
        filter: brightness(90%);
    }

.nav {
    background-color: var(--secondary-bg-color);
    color: var(--primary-color);
}
