.tabulator, .tabulator .tabulator-tableholder .tabulator-table {
    background: transparent;
    color: yellow;
    border: none;
}

.tabulator-row {
    background: transparent !important;
    padding: 7px 0;
}